<table class="table is-fullwidth is-narrow calendar-event">
    <thead>
        <tr>
            <th class="has-text-centered">日</th>
            <th class="has-text-centered">月</th>
            <th class="has-text-centered">火</th>
            <th class="has-text-centered">水</th>
            <th class="has-text-centered">木</th>
            <th class="has-text-centered">金</th>
            <th class="has-text-centered">土</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="weeklyEvent in calendarEvents">
            <td v-for="dailyEvent in weeklyEvent" :class="{ 'holiday': dailyEvent.day_of_week == 0, 'saturday': dailyEvent.day_of_week == 6 }">
                <div v-if="dailyEvent.day > 0">
                    <p class="event-day">{{ dailyEvent.day }}</p>
                    <p class="has-text-centered">
                        <a class="has-text-grey" v-if="dailyEvent.reports.length > 0">
                            <b-icon icon="circle"></b-icon>
                        </a>
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>
