rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth(payload) {
        return payload != null;
    }

    function validateReportSchema(payload) {
        let whiteList = [
            "title",
            "practice_date",
            "practice_time_from",
            "practice_time_to",
            "goal",
            "plan",
            "implessions",
            "next_action",
            "memo",
            "created_at",
            "modified_at"
        ];
        return (payload.size() == 11) &&
               (payload.keys().hasAll(whiteList)) &&
               (payload.title is string) &&
               (payload.title != "") &&
               (payload.practice_date is timestamp) &&
               (payload.practice_time_from is timestamp) &&
               (payload.practice_time_to is timestamp) &&
               (payload.goal is string) &&
               (payload.goal != "") &&
               (payload.plan is string) &&
               (payload.plan != "") &&
               (payload.implessions is string) &&
               (payload.next_action is string) &&
               (payload.memo is string) &&
               (payload.created_at is timestamp) &&
               (payload.modified_at is timestamp);
    }

    match /reports/{document} {
        allow create, update: if isAuth(request.auth) &&
                                 validateReportSchema(request.resource.data);
        allow delete, read: if isAuth(request.auth);
    }
  }
}
