rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validateReportSchema(payload) {
        let whiteList = [
            "goal",
            "plan",
            "implessions",
            "next_action",
            "memo",
            "created_at",
            "modified_at"
        ];
        return (payload.size() == 7) &&
               (payload.keys().hasAll(whiteList));
    }

    match /reports/{document} {
        allow create, update: if validateReportSchema(request.resource.data);
    }
  }
}
