<div class="calendar-header">
    <p class="current">
        <button type="button" class="step-button prev" @click="handlePreviousMonth">
            <b-icon icon="angle-double-left"></b-icon>
        </button>
        <span>{{ current | toYears }}</span>
        <button type="button" class="step-button next" @click="handleNextMonth">
            <b-icon icon="angle-double-right"></b-icon>
        </button>
    </p>
    <div class="buttons is-right">
        <b-button icon-left="calendar" @click="handleCurrent">今日</b-button>
        <b-button type="is-info" icon-left="file-alt" outlined @click="handleCreateReport">レポートを作成する</b-button>
    </div>
</div>
