.page-body {
    .error-code {
        font-size: 48px;
        font-weight: 700;
    }
    .error-message {
        font-size: 28px;
        font-weight: 700;
    }
    .description {
        font-size: 14px;
    }
}
