<div class="columns is-desktop is-centered">
    <div class="column">
        <header class="page-header">
        </header>
        <section class="page-body has-text-centered mt-5">
            <h2 class="error-code">404</h2>
            <h3 class="error-message">Page NotFound</h3>
            <p class="description">お探しのページは見つかりませんでした</p>
            <p><router-link class="button is-info is-inverted" to="/">トップページへ</router-link></p>
        </section>
        <footer class="page-footer mt-5">
        </footer>
    </div>
</div>
