.calendar-event {
    .holiday {
        background-color: #f3adcd;
    }
    .saturday {
        background-color: #b0def5;
    }
    .event-day {
        font-weight: 700;
        text-align: center;
    }
}

